@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            <div ng-app="EmployeeApp" ng-controller="EmployeeController">
                <div>
                    {{message}}
                    <h2 align="center">Angular JS Basic Example</h2>
                    <h5 align="center">Employee List</h5>
                    <table border="1" cellpadding="10" align="center">
                        <tr>
                            <td>
                                Employee Id
                            </td>
                            <td>
                                Employee Name
                            </td>
                            <td>
                                Salary
                            </td>
                            <td>
                                Department Name
                            </td>
                            <td>
                                Designation
                            </td>
                        </tr>
                        <tr ng-repeat="emp in employees">
                            <td>
                                {{emp.EmpNo}}
                            </td>
                            <td>
                                {{emp.EmpName}}
                            </td>
                            <td>
                                {{emp.Salary}}
                            </td>
                            <td>
                                {{emp.DeptName}}
                            </td>
                            <td>
                                {{emp.Designation}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
